# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Java / Maven
backend/target/
*.jar
*.class
*.log

# Node.js
frontend/node_modules/
frontend/dist/

# 实习生课题文件
实习生课题*.txt
